In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [47]:
def transform_bitcoin_data(data: pd.DataFrame) -> pd.DataFrame:
    """
    This function adds the following columns to our bitcoin dataframe:
    %PriceChange: To look at price change within a day
    priceDiff: To look at the per day absolute price change
    normalizedVol: To compare relative trading activity
    7DayMovingAvgPrice: To be able to observe long-term effects
    30DayMovingAvgPrice: To be able to observe long-term effects
    7DayMovingAvgVol: To be able to observe long-term effects
    30DayMovingAvgVol: To be able to observe long-term effects
    
    Note: The first 7 or 30 values for Moving averages for a week or month, respectively,
        are NaN values because there aren't sufficient rows to calculate the average. 
        We have decided to leave these values as NaN to preserve data integrity and not fill
        them which could possibly distort our analysis.
    
    TODO: Add Event flag: Pre [1], During[2], Post[3]
    TODO: Add doctests to see if the calculations are correct
    
    :param data: bitcoin dataframe
    :return: data: bitcoin dataframe with the columns above
    """
    # Adding column for % Price Change per day 
    data['%PriceChange'] = round(((data['Close'] - data['Open']) / data['Open']) * 100, 3)
    
    # Adding column for price difference
    data['priceDiff'] = round(data['Close'] - data['Open'], 3)
    
    # Adding column to look at the normalized trading volume
    data['normalizedVol'] = data['Volume'] / data['Volume'].max()
    
    # Adding columns for moving averages to compare long-term results
    # Learnt about the rolling function through ChatGPT
    data['7DayMovingAvgPrice'] = round(data['Close'].rolling(window=7).mean(), 3)
    data['30DayMovingAvgPrice'] = round(data['Close'].rolling(window=30).mean(), 3)
    data['7DayMovingAvgVol'] = data['normalizedVol'].rolling(window=7).mean()
    data['30DayMovingAvgVol'] = data['normalizedVol'].rolling(window=30).mean()
    
    return data

In [48]:
def get_bitcoin_data(filename: str) -> pd.DataFrame:
    """
    Reads the bitcoin csv data into a pandas dataframe.
    
    :param filename: bitcoin csv file name
    :return: df: bitcoin data as a pandas dataframe
    """
    
    df = pd.read_csv(filename)
    
    # converting 'Date' column to pd.datetime format to perform calculations
    df['Date'] = pd.to_datetime(df['Date'])
    
    df = transform_bitcoin_data(df)
    
    return df

In [49]:
bitcoin_df = get_bitcoin_data('bitcoin_historical_data.csv')

In [50]:
bitcoin_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits', '%PriceChange', 'priceDiff', 'normalizedVol',
       '7DayMovingAvgPrice', '30DayMovingAvgPrice', '7DayMovingAvgVol',
       '30DayMovingAvgVol'],
      dtype='object')

In [51]:
bitcoin_df.head(45)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,%PriceChange,priceDiff,normalizedVol,7DayMovingAvgPrice,30DayMovingAvgPrice,7DayMovingAvgVol,30DayMovingAvgVol
0,2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,0.0,0.0,-1.831,-8.530,0.000060,NaN,NaN,NaN,NaN
1,2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,0.0,0.0,-7.096,-32.420,0.000098,NaN,NaN,NaN,NaN
2,2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0.0,0.0,-6.910,-29.307,0.000108,NaN,NaN,NaN,NaN
3,2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,0.0,0.0,3.606,14.231,0.000105,NaN,NaN,NaN,NaN
4,2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0.0,0.0,-2.270,-9.264,0.000076,NaN,NaN,NaN,NaN
5,2014-09-22 00:00:00+00:00,399.100006,406.915985,397.130005,402.152008,24127600,0.0,0.0,0.765,3.052,0.000069,NaN,NaN,NaN,NaN
6,2014-09-23 00:00:00+00:00,402.092010,441.557007,396.196991,435.790985,45099500,0.0,0.0,8.381,33.699,0.000129,417.463,NaN,0.000092,NaN
7,2014-09-24 00:00:00+00:00,435.751007,436.112000,421.131989,423.204987,30627700,0.0,0.0,-2.879,-12.546,0.000087,412.587,NaN,0.000096,NaN
8,2014-09-25 00:00:00+00:00,423.156006,423.519989,409.467987,411.574005,26814400,0.0,0.0,-2.737,-11.582,0.000076,410.749,NaN,0.000093,NaN
9,2014-09-26 00:00:00+00:00,411.428986,414.937988,400.009003,404.424988,21460800,0.0,0.0,-1.702,-7.004,0.000061,412.125,NaN,0.000086,NaN
10,2014-09-27 00:00:00+00:00,403.556000,406.622986,397.372009,399.519989,15029300,0.0,0.0,-1.000,-4.036,0.000043,410.784,NaN,0.000077,NaN
11,2014-09-28 00:00:00+00:00,399.471008,401.016998,374.332001,377.181000,23613300,0.0,0.0,-5.580,-22.290,0.000067,407.693,NaN,0.000076,NaN
12,2014-09-29 00:00:00+00:00,376.928009,385.210999,372.239990,375.467010,32497700,0.0,0.0,-0.388,-1.461,0.000093,403.880,NaN,0.000079,NaN
13,2014-09-30 00:00:00+00:00,376.088013,390.976990,373.442993,386.944000,34707300,0.0,0.0,2.887,10.856,0.000099,396.902,NaN,0.000075,NaN
14,2014-10-01 00:00:00+00:00,387.427002,391.378998,380.779999,383.614990,26229400,0.0,0.0,-0.984,-3.812,0.000075,391.247,NaN,0.000073,NaN
15,2014-10-02 00:00:00+00:00,383.988007,385.497009,372.946014,375.071991,21777700,0.0,0.0,-2.322,-8.916,0.000062,386.032,NaN,0.000071,NaN
16,2014-10-03 00:00:00+00:00,375.181000,377.695007,357.859009,359.511993,30901200,0.0,0.0,-4.176,-15.669,0.000088,379.616,NaN,0.000075,NaN
17,2014-10-04 00:00:00+00:00,359.891998,364.487000,325.885986,328.865997,47236500,0.0,0.0,-8.621,-31.026,0.000135,369.522,NaN,0.000088,NaN
18,2014-10-05 00:00:00+00:00,328.915985,341.800995,289.295990,320.510010,83308096,0.0,0.0,-2.556,-8.406,0.000237,361.427,NaN,0.000113,NaN
19,2014-10-06 00:00:00+00:00,320.389008,345.134003,302.559998,330.079010,79011800,0.0,0.0,3.024,9.690,0.000225,354.943,NaN,0.000132,NaN
20,2014-10-07 00:00:00+00:00,330.584015,339.247009,320.481995,336.187012,49199900,0.0,0.0,1.695,5.603,0.000140,347.692,NaN,0.000137,NaN
21,2014-10-08 00:00:00+00:00,336.115997,354.364014,327.187988,352.940002,54736300,0.0,0.0,5.005,16.824,0.000156,343.309,NaN,0.000149,NaN
22,2014-10-09 00:00:00+00:00,352.747986,382.726013,347.687012,365.026001,83641104,0.0,0.0,3.481,12.278,0.000238,341.874,NaN,0.000174,NaN
23,2014-10-10 00:00:00+00:00,364.687012,375.066986,352.963013,361.562012,43665700,0.0,0.0,-0.857,-3.125,0.000124,342.167,NaN,0.000179,NaN
24,2014-10-11 00:00:00+00:00,361.362000,367.191010,355.950989,362.299011,13345200,0.0,0.0,0.259,0.937,0.000038,346.943,NaN,0.000166,NaN
25,2014-10-12 00:00:00+00:00,362.605988,379.433014,356.144012,378.549011,17552800,0.0,0.0,4.397,15.943,0.000050,355.235,NaN,0.000139,NaN
26,2014-10-13 00:00:00+00:00,377.920990,397.226013,368.897003,390.414001,35221400,0.0,0.0,3.306,12.493,0.000100,363.854,NaN,0.000121,NaN
27,2014-10-14 00:00:00+00:00,391.691986,411.697998,391.324005,400.869995,38491500,0.0,0.0,2.343,9.178,0.000110,373.094,NaN,0.000117,NaN
28,2014-10-15 00:00:00+00:00,400.954987,402.226990,388.765991,394.773010,25267100,0.0,0.0,-1.542,-6.182,0.000072,379.070,NaN,0.000105,NaN
29,2014-10-16 00:00:00+00:00,394.518005,398.807007,373.070007,382.556000,26990000,0.0,0.0,-3.032,-11.962,0.000077,381.575,384.113,0.000082,0.000103
30,2014-10-17 00:00:00+00:00,382.756012,385.477997,375.389008,383.757996,13600700,0.0,0.0,0.262,1.002,0.000039,384.746,381.660,0.000069,0.000103
31,2014-10-18 00:00:00+00:00,383.976013,395.157990,378.971008,391.441986,11416800,0.0,0.0,1.944,7.466,0.000033,388.909,380.560,0.000069,0.000100
32,2014-10-19 00:00:00+00:00,391.253998,393.938995,386.457001,389.545990,5914570,0.0,0.0,-0.437,-1.708,0.000017,390.480,380.385,0.000064,0.000097
33,2014-10-20 00:00:00+00:00,389.230988,390.084015,378.252014,382.845001,16419000,0.0,0.0,-1.641,-6.386,0.000047,389.399,379.517,0.000056,0.000095
34,2014-10-21 00:00:00+00:00,382.420990,392.645996,380.834015,386.475006,14188900,0.0,0.0,1.060,4.054,0.000040,387.342,379.105,0.000046,0.000094
35,2014-10-22 00:00:00+00:00,386.118011,388.575989,382.248993,383.157990,11641300,0.0,0.0,-0.767,-2.960,0.000033,385.683,378.472,0.000041,0.000093
36,2014-10-23 00:00:00+00:00,382.962006,385.048004,356.446991,358.416992,26456900,0.0,0.0,-6.409,-24.545,0.000075,382.234,375.893,0.000041,0.000091
37,2014-10-24 00:00:00+00:00,358.591003,364.345001,353.304993,358.345001,15585700,0.0,0.0,-0.069,-0.246,0.000044,378.604,373.731,0.000041,0.000090
38,2014-10-25 00:00:00+00:00,358.610992,359.860992,342.877014,347.270996,18127500,0.0,0.0,-3.162,-11.340,0.000052,372.294,371.587,0.000044,0.000089
39,2014-10-26 00:00:00+00:00,347.487000,359.221008,343.931000,354.704010,11272500,0.0,0.0,2.077,7.217,0.000032,367.316,369.930,0.000046,0.000088
40,2014-10-27 00:00:00+00:00,354.777008,358.631989,349.808990,352.989014,13033000,0.0,0.0,-0.504,-1.788,0.000037,363.051,368.379,0.000045,0.000088
41,2014-10-28 00:00:00+00:00,353.214996,359.984009,352.678986,357.618011,7845880,0.0,0.0,1.247,4.403,0.000022,358.929,367.727,0.000042,0.000086
42,2014-10-29 00:00:00+00:00,357.088989,357.833008,335.342987,335.591003,18192700,0.0,0.0,-6.020,-21.498,0.000052,352.134,366.398,0.000045,0.000085
43,2014-10-30 00:00:00+00:00,335.709015,350.912994,335.071991,345.304993,30177900,0.0,0.0,2.858,9.596,0.000086,350.260,365.010,0.000046,0.000085
44,2014-10-31 00:00:00+00:00,345.009003,348.045013,337.141998,338.321014,12545400,0.0,0.0,-1.938,-6.688,0.000036,347.400,363.500,0.000045,0.000083